* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Pixel";
  src: url(".../fonts/Pixel.ttf");
}

[wm-flappy] {
  position: relative;
  border: 5px solid dodgerblue;
  height: 700px;
  width: 1200px;
  margin: 15px;
  background-color: deepskyblue;
  overflow: hidden;
}
.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
  
}

.par-de-barreiras{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barreira .borda{
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e );
    border: 2px solid black;
}
.barreira .corpo{
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e );
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.progresso {
    position: absolute;
    right: 10px; 
    top: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}

.reiniciarJogo {
  position: absolute;
  left: 10px; 
  top: 10px;
  font-family: 'Pixel';
  font-size: 70px;
  z-index: 100;
}

.gameOver {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.gameOver.visivel {
  visibility: visible;
  opacity: 1;
}

.gameOver-title {
  font-size: 42px;
}